.app-title {
    font-size: 35px;
    color: whitesmoke;
    background-color: blue;
    padding: 15px;
    text-align: center;
}

.cd img {
    display:inline-flexbox;
    
}

.cityInputCurrentConditions {
    padding: 15px;
    border: 4px solid black; 
    
}